:root {
    --blue: #0A91DE;
    --dark-grey: #727B81;
    --light-grey: #DDDDDD;
    --p-li-grey: #666F74;
    --h1-size: 1.25rem;
    --p-size: 1.5rem;
    --li-size: 1.125rem;
    --bold: bold;
}

body {
    background-color: #eee;
    color: var(--p-li-grey);
    line-height: 1.5;
    font-family: "Manrope", sans-serif;
}

/* Typography */
h1 {
    font-family: "Nunito", sans-serif;
    font-weight: var(--bold);
    color: var(--dark-grey);
    font-size: var(--h1-size);
    margin-bottom: 0.5rem;
}

span {
    color: var(--blue);
}

p {
    font-size: var(--p-size);
    font-weight: var(--bold);
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--light-grey);
}

/* Header */

header {
    background-color: white;
    padding: 1rem;
    width: 14.5rem;
    height: 100vh;
}

ul.main-menu {
    margin-top: 1.5rem;
}

.main-menu,
.sub-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-menu li {
    position: relative;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main-menu li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

a {
    color: var(--p-li-grey);
    text-decoration: none;
    font-size: var(--li-size);
}

a:hover,
a:focus {
    font-weight: var(--bold);
}

.sub-menu a:hover,
.sub-menu a:focus {
    color: var(--blue);
}

.sub-menu {
    position: absolute;
    left: 8.625rem;
    top: -1rem;
    background-color: white;
    border: 1px solid var(--blue);
    border-radius: .4375rem;
    padding: 1.125rem;
    width: 10.875rem;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}

.sub-menu li {
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.sub-menu li:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.main-menu li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}